@import "global/01-mixins";
@import "fonts";
@import "global/03-vars";
html {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    line-height: 1;
    font-weight: 400;
    color: #252525;
    position: relative;
    height: 100%;
    background: #F4F6F6;
    -webkit-tap-highlight-color: transparent;
}

div,
section,
footer,
.btn {
    box-sizing: border-box;
}

a {
    color: #fff;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    -ms-transition: all 0.1s linear;
    -o-transition: all 0.1s linear;
    transition: all 0.1s linear;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:focus,
input:focus {
    outline: none;
}

p {
    color: #252525;
    font-size: 20px;
    font-weight: 400;
    line-height: 29px;
    margin: 0 0 10px 0;
}

input {
    display: block;
    width: 100%;
    font-size: 30px;
    font-weight: 700;
    line-height: 29px;
    padding: 0 8px;
    margin-bottom: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    -ms-transition: all 0.1s linear;
    -o-transition: all 0.1s linear;
    transition: all 0.1s linear;
}

input:hover,
input:focus {
    outline: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul li {
    padding: 0 0 0 0;
}

button {
    border: none;
    outline: none;
    cursor: pointer;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    -ms-transition: all 0.1s linear;
    -o-transition: all 0.1s linear;
    transition: all 0.1s linear;
}

.title {
    color: #fff;
    font-size: 42px;
    font-weight: 700;
    line-height: 53px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.desc {
    color: #252525;
    font-size: 20px;
    font-weight: 400;
    line-height: 29px;
    margin-bottom: 15px;
}

img {
    max-width: 100%;
    max-height: 100%;
    display: block;
}

.clearfix:after {
    content: '';
    display: table;
    clear: both;
}

.wrapper {
    position: relative;
}

input:not([type=checkbox]):not([type=radio]),
textarea,
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.container {
    max-width: 1562px;
    width: 100%;
    padding: 0 16px;
    position: relative;
    margin: 0 auto;
}

.header {
    background: #fff;
    padding: 13px 8px 11px 67px;
}

.header-box {
    display: flex;
    align-items: center;
}

.logo {
    margin-right: 82px;
}

.menu {
    display: flex;
    justify-content: flex-start;
    li {
        margin-right: 73px;
    }
    li:last-child {
        margin-right: 0;
    }
    a {
        position: relative;
        font-weight: 500;
        font-size: 14px;
        line-height: 100%;
        text-align: center;
        letter-spacing: 0.22em;
        text-transform: uppercase;
        color: #878DA3;
    }
    a:hover {
        color: #424552;
    }
    a:after {
        content: '';
        display: block;
        position: absolute;
        bottom: -23px;
        @include centering(h);
        width: 35px;
        height: 3px;
        background: transparent;
        @include transition02;
    }
    a:hover:after {
        background: #2E5BFF;
    }
}

.profile {
    padding-right: 22px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    cursor: pointer;
}

.profile::after {
    content: '';
    display: block;
    position: absolute;
    top: 13px;
    right: -1px;
    width: 10px;
    height: 6px;
    background: url(../img/arr-down.svg) no-repeat center;
    transition: all linear .2s;
    -webkit-transition: all linear .2s;
    -moz-transition: all linear .2s;
    -ms-transition: all linear .2s;
    -o-transition: all linear .2s;
}

.profile.active::after {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}

.profile-name {
    b {
        display: block;
        font-weight: normal;
        font-size: 14px;
        line-height: 100%;
        text-align: right;
        color: #424552;
        margin-bottom: 2px;
    }
    span {
        display: block;
        font-weight: normal;
        font-size: 11px;
        line-height: 100%;
        text-align: right;
        color: #929292;
    }
    margin-right: 15px;
}

.profile-image {
    position: relative;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background: blue;
    overflow: hidden;
    img {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: center;
    }
}

.content-box {
    position: relative;
    padding: 64px 0 0 0;
    h1 {
        margin-top: 0;
        font-weight: normal;
        font-size: 24px;
        line-height: 100%;
        color: #424552;
        margin-bottom: 30px;
    }
}

.decor1 {
    position: absolute;
    left: -8px;
    top: 222px;
    max-width: 457px;
}

.decor2 {
    position: absolute;
    right: 0;
    top: 63.2%;
    max-width: 457px;
}

.content-box__top-line {
    .container {
        padding-bottom: 24px;
        border-bottom: 1px solid #E1E1E1;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    h1 {
        margin-bottom: 0;
    }
}

.brn-abc {
    width: 35px;
    height: 34px;
    border-radius: 10px;
}

.nice-select {
    -webkit-tap-highlight-color: transparent;
    background-color: #fff;
    border-radius: 5px;
    border: solid 1px #e8e8e8;
    box-sizing: border-box;
    clear: both;
    cursor: pointer;
    display: block;
    float: left;
    font-family: inherit;
    font-size: 14px;
    font-weight: normal;
    height: 42px;
    line-height: 40px;
    outline: none;
    padding-left: 18px;
    padding-right: 30px;
    position: relative;
    text-align: left !important;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    white-space: nowrap;
    width: auto;
}

.nice-select:hover {
    border-color: #dbdbdb;
}

.nice-select:active,
.nice-select.open,
.nice-select:focus {
    border-color: #999;
}

.nice-select:after {
    border-bottom: 2px solid #999;
    border-right: 2px solid #999;
    content: '';
    display: block;
    height: 5px;
    margin-top: -4px;
    pointer-events: none;
    position: absolute;
    right: 12px;
    top: 50%;
    -webkit-transform-origin: 66% 66%;
    -ms-transform-origin: 66% 66%;
    transform-origin: 66% 66%;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
    width: 5px;
}

.nice-select.open:after {
    -webkit-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    transform: rotate(-135deg);
}

.nice-select.open .list {
    opacity: 1;
    pointer-events: auto;
    -webkit-transform: scale(1) translateY(0);
    -ms-transform: scale(1) translateY(0);
    transform: scale(1) translateY(0);
}

.nice-select.disabled {
    border-color: #ededed;
    color: #999;
    pointer-events: none;
}

.nice-select.disabled:after {
    border-color: #cccccc;
}

.nice-select.wide {
    width: 100%;
}

.nice-select.wide .list {
    left: 0 !important;
    right: 0 !important;
}

.nice-select.right {
    float: right;
}

.nice-select.right .list {
    left: auto;
    right: 0;
}

.nice-select.small {
    font-size: 12px;
    height: 36px;
    line-height: 34px;
}

.nice-select.small:after {
    height: 4px;
    width: 4px;
}

.nice-select.small .option {
    line-height: 34px;
    min-height: 34px;
}

.nice-select .list {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 0 1px rgba(68, 68, 68, 0.11);
    box-sizing: border-box;
    margin-top: 4px;
    opacity: 0;
    overflow: hidden;
    padding: 0;
    pointer-events: none;
    position: absolute;
    top: 100%;
    left: 0;
    -webkit-transform-origin: 50% 0;
    -ms-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-transform: scale(0.75) translateY(-21px);
    -ms-transform: scale(0.75) translateY(-21px);
    transform: scale(0.75) translateY(-21px);
    -webkit-transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
    transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
    z-index: 9;
}

.nice-select .list:hover .option:not(:hover) {
    background-color: transparent !important;
}

.nice-select .option {
    cursor: pointer;
    font-weight: 400;
    line-height: 40px;
    list-style: none;
    min-height: 40px;
    outline: none;
    padding-left: 18px;
    padding-right: 29px;
    text-align: left;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}

.nice-select .option:hover,
.nice-select .option.focus,
.nice-select .option.selected.focus {
    background-color: #f6f6f6;
}

.nice-select .option.selected {
    font-weight: bold;
}

.nice-select .option.disabled {
    background-color: transparent;
    color: #999;
    cursor: default;
}

.no-csspointerevents .nice-select .list {
    display: none;
}

.no-csspointerevents .nice-select.open .list {
    display: block;
}

.profile-hide {
    display: none;
    position: absolute;
    top: 49px;
    right: 0;
    min-width: 191px;
    padding: 0 0 0 0;
    z-index: 99;
    background: #fff;
    overflow: hidden;
    border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -ms-border-radius: 10px 10px 10px 10px;
    -o-border-radius: 10px 10px 10px 10px;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.13);
    &::after {
        content: '';
        display: block;
        height: 1px;
        width: 100%;
        background: #2E5BFF;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        border-radius: 10px 10px 10px 10px;
    }
    a {
        display: block;
        position: relative;
        font-weight: 500;
        font-size: 14px;
        line-height: 100%;
        color: #424552;
        padding: 15px 19px 15px 48px;
        background-position: 20px center;
        background-repeat: no-repeat;
    }
}

.lk-link {
    background-image: url(../img/lk-ico.svg);
}

.settings-link {
    background-image: url(../img/set-ico.svg);
}

.note-link {
    background-image: url(../img/note-ico.svg);
}

.log-out-link {
    background-image: url(../img/log-out-ico.svg);
    background-color: #FBFBFB;
    border-top: 1px solid #E1E1E1;
}

.filters {
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    justify-content: flex-end;
}

.search {
    max-width: 360px;
    width: 100%;
    position: relative;
    margin-right: 14px;
    &::after {
        content: '';
        display: block;
        width: 12px;
        height: 12px;
        position: absolute;
        left: 20px;
        top: 11px;
        background: url(../img/search.svg) no-repeat 20px center;
        z-index: 9;
    }
    input {
        margin-bottom: 0;
        padding-left: 41px;
    }
}

input {
    background: #FFFFFF;
    border: 1px solid #E1E1E1;
    box-sizing: border-box;
    border-radius: 10px;
    font-weight: normal;
    font-size: 12px;
    line-height: 100%;
    color: #96979B;
    height: 34px;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}

.select-box {
    margin-right: 14px;
    padding: 0 5px 0 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FFFFFF;
    border: 1px solid #E1E1E1;
    box-sizing: border-box;
    border-radius: 10px;
    height: 34px;
    font-weight: normal;
    font-size: 12px;
    line-height: 100%;
    color: #424552;
    .nice-select {
        display: flex;
        align-items: center;
        float: none;
        height: 32px;
        border: none;
        padding-left: 8px;
        padding-right: 28px;
        .list {
            left: initial;
            right: -5px;
        }
        .current {
            font-weight: normal;
            font-size: 12px;
            line-height: 100%;
            color: #424552;
        }
    }
}

.nice-select:after {
    width: 8px;
    height: 5px;
    border: none;
    right: 10px;
    top: 57%;
    background: url(../img/arr-down.svg) no-repeat center;
    transform: rotate(0);
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform-origin: initial;
}

.btn-abc {
    display: block;
    width: 35px;
    height: 34px;
    background: url(../img/btn-abc.svg) no-repeat center;
}

.nice-select.open:after {
    transform: rotate( 180deg);
    -webkit-transform: rotate( 180deg);
    -moz-transform: rotate( 180deg);
    -ms-transform: rotate( 180deg);
    -o-transform: rotate( 180deg);
}

select {
    display: none;
}

.table-wrap {}

.table {
    width: 100%;
    display: table;
    border-spacing: 0 21px;
    // display: flex;
    // flex-direction: column;
}

.table-tr:first-child {
    background: transparent;
    box-shadow: none;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    margin-bottom: 0;
}

.table-tr {
    display: table-row;
    // display: flex;
    // justify-content: space-between;
    // align-items: center;
    background: #FFFFFF;
    border-radius: 10px;
    margin-bottom: 21px;
    @include transition02;
    &:hover {
        box-shadow: 0px 13px 28px rgba(0, 0, 0, 0.05);
    }
}

.table-th {
    display: table-cell;
    font-weight: bold;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #878DA3;
}

.table-td {
    display: table-cell;
    padding-top: 38px;
    vertical-align: top;
    padding-bottom: 6px;
    b {
        display: block;
        font-weight: 600;
        font-size: 10px;
        line-height: 100%;
        color: #96979B;
        margin-bottom: 6px;
    }
    span {
        display: block;
        font-weight: 500;
        font-size: 14px;
        line-height: 100%;
        color: #424552;
        margin-bottom: 30px;
    }
    a {
        font-weight: 500;
        font-size: 14px;
        line-height: 100%;
        color: #424552;
    }
    a.del {
        display: inline-block;
        font-weight: 500;
        font-size: 10px;
        line-height: 100%;
        text-align: center;
        color: #F14D75;
        background: #FDE4E6;
        border-radius: 10px;
        width: 75px;
        line-height: 26px;
    }
    a.in-work {
        display: inline-block;
        width: 75px;
        height: 26px;
        font-weight: 500;
        font-size: 10px;
        line-height: 100%;
        text-align: center;
        color: #4CC5AB;
        background: #DFFAF4;
        border-radius: 10px;
        line-height: 26px;
    }
    a.in-work2 {
        display: inline-block;
        width: 75px;
        height: 26px;
        font-weight: 500;
        font-size: 10px;
        line-height: 100%;
        text-align: center;
        color: #CDA54B;
        background: #FCEEBC;
        border-radius: 10px;
        line-height: 26px;
    }
    a.wait {
        display: inline-block;
        width: 75px;
        height: 26px;
        font-weight: 500;
        font-size: 10px;
        line-height: 100%;
        text-align: center;
        color: #848484;
        background: #DDDDDD;
        border-radius: 10px;
        line-height: 26px;
    }
}

.table-th:first-child {
    padding-left: 36px;
}

.table-th:last-child {
    padding-right: 51px;
    text-align: right;
}

.table-td:first-child {
    width: 16.4%;
    border-radius: 10px 0 0 10px;
    -webkit-border-radius: 10px 0 0 10px;
    -moz-border-radius: 10px 0 0 10px;
    -ms-border-radius: 10px 0 0 10px;
    -o-border-radius: 10px 0 0 10px;
    padding-left: 36px;
}

.table-td:last-child {
    border-radius: 0 10px 10px 0;
    -webkit-border-radius: 0 10px 10px 0;
    -moz-border-radius: 0 10px 10px 0;
    -ms-border-radius: 0 10px 10px 0;
    -o-border-radius: 0 10px 10px 0;
    padding-right: 36px;
    text-align: right;
}

.table-td:nth-child(2) {
    width: 7.8%;
}

.table-td:nth-child(3) {
    width: 19.6%;
}

.table-td:nth-child(4) {
    width: 11.5%;
}

.table-td:nth-child(5) {
    width: 12.5%;
}

.table-td:nth-child(6) {
    width: 9.9%;
}

// .table-td:first-child,
// .table-th:first-child {
//     width: 13.7%;
// }
.table-wrap {
    padding: 5px 0 130px 0;
}


/* I E   S T Y L E S */

@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
    .block {
        width: 100%;
    }
}

.ov-hidden {
    overflow: hidden;
}

@media screen and (min-width:992px) {
    .btn-orange:hover {
        background: #ec4824;
    }
    .modal-close:hover {
        opacity: 0.7;
    }
}


/* 
    M O B I L E
*/

@media screen and (max-width: 1200px) {
    html,
    body {
        min-width: 320px;
        width: 100%;
        overflow-x: hidden;
    }
    a:focus {
        outline: none;
    }
}

@media screen and (max-width: 1199px) {}

@media screen and (max-width: 991px) {}

@media screen and (max-width: 767px) {}